<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <link href="soundify.css" rel="stylesheet" />
    <title>Soundify - Home</title>
</head>

<body>
    <header>
        <h1>Soundify</h1>
    </header>



    <footer class="footer">
        -
    </footer>
</body>

</html>